*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("E:/pollo campero/imagenes/1aec284515f699f44268605021729581.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
/*aca configuro como se veria en computadora*/
.barras{ display: none;}
.desplagable{background: #0f6e07;}
ul{display: flex;
  flex-direction: row;
}
ul li a{color: rgb(5, 109, 28);
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem;
}
nav ul li:hover{background: #153f04;}
/*aca configuro como se veria en tablet*/
@media (max-width:850px){

.barras{
  background-color: #1e1e1e;
  display: block;
}
.desplagable{
  background: none;
  transform: translate(-100%);
  transition: 0.5s;
  font-size: 1.5rem;
  width: 50%;
  u1{
      display: flex;
      flex-direction: column;
      height: 100vh;
  }
a{
padding: 0;
}
a{
  font-size: 1.5rem;
  padding: 20px 0px 20px 20px;
  display: block;
  text-align: left;
}
.boton_meno{
  background-image: url("E:/pollo campero/imagenes/descarga (3).jpeg");
  background-color: #08631c;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  background-position: center;
}
botton{
  margin: 5px;
  border: none;
  margin: 10px 10px 10px 20px;
}
/*con esta clase abro y cierro el menu con toggle*/
.abrir_menu{
  background: rgba(30,30,30,0.6);
  backdrop-filter: blur(2px);
  transform: translate(0%);
  width: 50%;
  transition: 0.5s;
}
/* con esta clase cambop las barras por una x*/
.colocar_x{
  background-image: url('./icono_x.png');
  background-color: #1e1e1e;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  background-position: center;
}

}
/*aca configuro como se veria en celular*/
@media(max-width: 500px;){
  .desplagable{
      width: 100px;
      height: 100vh;
      font-size: 1.6rem;
     }
  }
}
h1{
  color: #035007;
}
h2{
  color: #09791ce5;
}